<div id="ajaxtext">

<h2>Name</h2>
<strong><%=@article.name%></strong>
<h2>Description</h2>
<strong><%=@article.description%></strong><br/>
<div id="list">
<h2> comments list</h2>
<%= render "comments/index" %>
</div>

<div id="edit" >
<h2>Comments Form</h2>
<%= render "comments/form"%>
</div>
<%= link_to "ajaxtext", ajaxtext_articles_path, :remote => :true %>

</div>